@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logotext {
  font-family: "Manrope", sans-serif;
}
