@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logotext {
  font-family: "Manrope", sans-serif;
}

.buttonCharacterScreen {
  background-color: gray;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

/* A card container for an individual game. The card should extend to the edge of the page, have rounded edges and have a white background */
/*  */
.gamebox {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 8px;
}

.gamewrapper {
  display: grid;
  background-color: bg-slate-400;
}

/* Input box for creating a new game. Background color should be bg-slate-400 */
.gameinput {
  background-color: rgb(226 232 240);
  border-radius: 5px;
  width: 50%;
}

.gameadd {
  display: grid;
  background-color: white;
  border-radius: 8px;
}
